<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="author"content="walter">
		<title>LoveC</title>
	</head>
	<body>
		<!--  aca ba ir una campo para que se pueda mandar un mensaje de cita predeterminado o para que se pueda mandar un mensaje personalmente y asi que eya le quiera mandar lo que quiera a este sujeto  -->
	</body>
</html>
