<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="author"content="walter">
		<title>WorkColombia</title>
		<link rel="stylesheet"href="/css/main.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand"href="/work">Inicio</a>
			<a class="navbar-brand mx-auto"href="/signup">Registrate</a>
			<a class="navbar-brand mx-auto"href="/signin">Inicia Sesion</a>
		</nav>
		<br>
		<center><h1>Consigue  Tu Cita</h1></center>
		<div class="card mx-auto">
			<div class="card-body mx-auto">
				Bienbenido si no consigue sitas por ningun lado este servicio te ayudara a conseguir
				al Amor de tu vida esa persona con la que siempre has soñado estar pero por cosas de la vida
				no se han dado no te compliques condigue a otrtra mujer mejor que si te valore y te quiera
				solo registrate y empiesa a conocer a tu AMOR
			</div>
		</div>
	</body>
</html>
