<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="author"content="walter">
		<title>WorkColombia</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		  <center><h1>Editar Perfil</h1></center>
                <div class="card mx-auto" style="width: 18rem;">
                        <div class="card-body mx-auto">
                                <form action="/edit"method="POST"enctype="multipart/form-data">
                                        <label>Edad</label>			
                                        <input type="text"name="name"class="form-control"placeholder="Inserte Su Edad">
                                        <label>Profesion</label>
                                        <input type="text"name="last"class="form-control"placeholder="Inserte Sus Profesion">
                                        <label>Intereses</label>
					<textarea type="text"name="user"class="form-control"placeholder="Intereses personales"></textarea>
                                        <label>Religion</label>
                                        <input type="text"name="password"class="form-control"placeholder="Inserte su Religion">
                                        <button class="btn btn-success btn-block">Registrate</button>
                                </form>
                        </div>
                </div>
        </body>
</html>

	</body>
</html>
