<!DOCTYPE html>
<html lang="es">
        <head>
                <meta charset="utf-8">
                <meta name="author"content="walter">
                <title>WorkColombia</title>
                <link rel="stylesheet"href="/css/main.css">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        </head>
        <body>
                <nav class="navbar navbar-light bg-light">
                        <a class="navbar-brand"href="/work">Inicio</a>
                        <a class="navbar-brand mx-auto"href="/signup">Registrate</a>
                        <a class="navbar-brand mx-auto"href="/signin">Inicia Sesion</a>
                </nav>
                <br>
                <center><h1>Inicia Secion</h1></center>
                <div class="card mx-auto" style="width: 18rem;">
                        <div class="card-body mx-auto">
				<label>Usuario</label>
				<input type="text"name="user"placeholder="Ingrese Su Usuario">
				<label>Contraseña</label>
				<input type="password"name="password"placeholder="Ingrese Su Contraseña">
				<br>
				<a href="/signup">No tengo Cuenta</a>
				<button class="btn btn-primary btn-block"type="submit">Ingresar</button>
			</div>
	</body>
</html>

